<div class = "add-new-declaration-container">
<button type="button" id = "add-new-declaration-btn" class="btn btn-primary add-new-declaration" data-toggle="modal" data-target="#addDeclarationModal">Add new declaration</button>
</div>
<hr>

